<div class="max-w-5xl mx-auto bg-gray-50 p-3 rounded-md">
  <p id="notice"><%= notice %></p>

  <div class="flex w-full w-1/3 space-x-1 justify-end">
    <%= link_to 'Editar', edit_owner_path(@owner), class: "bg-green-700 hover:bg-green-800 text-white px-5 py-1 cursor-pointer rounded hover:shadow" %>
    <%= link_to 'Regresar', owners_path, class: "bg-gray-700 hover:bg-gray-800 text-white px-5 py-1 rounded hover:shadow" %>
  </div>

  <div class="max-w-5xl border-dotted py-5 my-5">
    <table class="mx-auto">
      <thead>
        <tr class="text-center">
          <th>Nombre:</th>
          <th>Tel:</th>
          <th>Email:</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
          <td class="bg-gray-100 px-2 py-1 rounded border-2 px-10"><%= @owner.name %></td>
          <td class="bg-gray-100 px-2 py-1 rounded border-2 px-10"><%= @owner.phone_number %></td>
          <td class="bg-gray-100 px-2 py-1 rounded border-2 px-10"><%= @owner.email %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <% if @owner.pets.count > 0  %>
    <div class="max-w-5xl mx-auto border-2 p-1 rounded-md border-dotted">
      <table class="w-full">
        <thead class="text-left select-none">
          <tr class="bg-gray-700 text-white">
            <th class="p-3 rounded-l">Nombre</th>
            <th class="p-3">Peso máximo</th>
            <th class="p-3 rounded-r">Altura máxima</th>
          </tr>
        </thead>
        <tbody>
          <% @owner.pets.each do |pet| %>
            <tr class="group hover:bg-gray-50">
              <td class="p-2"><%= pet.name %></td>
              <td class="p-2"><%= pet.max_weight %></td>
              <td class="p-2"><%= pet.max_height %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
